
li {
  text-decoration: none;
  list-style-type: none;
}
.table-head{
  height: 90px;
}

.infopage{
  font-weight: bold;
  font-size: 20px;
  line-height: 1em;
  padding: 30px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  background: white;
  width: 25%;
  margin: auto;

}